<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>DA104G2</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- ===================StatusListener================== -->
	<listener>
		<listener-class>com.util.StatusListener</listener-class>
	</listener>
	<!-- ===================AdmFilter================== -->
	<filter>
		<filter-name>AdmFilter</filter-name>
		<filter-class>com.filters.AdmFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AdmFilter</filter-name>
		<url-pattern>/back-end/manage/*</url-pattern>
		<url-pattern>/back-end/photo_report/photo_report_select_page.jsp</url-pattern>
		<url-pattern>/back-end/tour_report/tour_report.jsp</url-pattern>
		<url-pattern>/back-end/group/group_report.jsp</url-pattern>
		<url-pattern>/back-end/equipment/select_page.jsp</url-pattern>
		<url-pattern>/back-end/equip_order/select_page_order.jsp</url-pattern>
		<url-pattern>/back-end/equip_order/listAllOrder.jsp</url-pattern>
		<url-pattern>/back-end/equip_order/newOrder.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	<!-- ===================MemFilter================== -->
	<filter>
		<filter-name>MemberCheck</filter-name>
		<filter-class>com.filters.MemFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MemberCheck</filter-name>
		<url-pattern>/front-end/group/addGroup.jsp</url-pattern>
		<url-pattern>/front-end/group/listAllMemGroup.jsp</url-pattern>
		<url-pattern>/front-end/equip_order/buy_info.jsp</url-pattern>
		<url-pattern>/front-end/memberCenter/updateMem.jsp</url-pattern>
		<url-pattern>/front-end/memberCenter/memDetail.jsp</url-pattern>
		<url-pattern>/front-end/memberCenter/member_myTrip.jsp</url-pattern>
		<url-pattern>/front-end/memberCenter/member_myGroup.jsp</url-pattern>
		<url-pattern>/front-end/memberCenter/member_myAlbum.jsp</url-pattern>
		<url-pattern>/front-end/memberCenter/member_myOrder.jsp</url-pattern>
		<url-pattern>/front-end/memberCenter/member_travel_like.jsp</url-pattern>
		<url-pattern>/front-end/memberCenter/member.jsp</url-pattern>
		<url-pattern>/front-end/store/store_add.jsp</url-pattern>
		<url-pattern>/front-end/store/store_info.jsp</url-pattern>
		<url-pattern>/front-end/store/store__trip_order.jsp</url-pattern>
		<url-pattern>/front-end/store/store__trip_update.jsp</url-pattern>
		<url-pattern>/front-end/store/store_trip.jsp</url-pattern>
		<url-pattern>/front-end/store/store.jsp</url-pattern>
		<url-pattern>/front-end/travel-page/travel_checkout.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	<!-- ===================CharacterFilter================== -->
	<filter>
		<filter-name>SetCharacterEncoding</filter-name>
		<filter-class>com.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	<!-- ===================AlbumController================== -->
	<servlet>
		<servlet-name>AlbumServlet</servlet-name>
		<servlet-class>com.album.controller.AlbumServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AlbumServlet</servlet-name>
		<url-pattern>/album/album.do</url-pattern>
	</servlet-mapping>
	<!-- ===================PhotoController================== -->
	<servlet>
		<servlet-name>PhotoServlet</servlet-name>
		<servlet-class>com.photo.controller.PhotoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotoServlet</servlet-name>
		<url-pattern>/photo/photo.do</url-pattern>
	</servlet-mapping>
	<!-- ===================PhotoReportController================== -->
	<servlet>
		<servlet-name>PhotoReportServlet</servlet-name>
		<servlet-class>com.photo_report.controller.PhotoReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotoReportServlet</servlet-name>
		<url-pattern>/photo_report/photo_report.do</url-pattern>
	</servlet-mapping>
	<!-- ===================UtilController================== -->
	<servlet>
		<servlet-name>ShowPic_V1</servlet-name>
		<servlet-class>com.util.ShowPic_V1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowPic_V1</servlet-name>
		<url-pattern>/ShowPic_V1</url-pattern>
	</servlet-mapping>
	<!-- ===================MemberController================== -->
	<servlet>
		<servlet-name>MemberServlet</servlet-name>
		<servlet-class>com.member.controller.MemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberServlet</servlet-name>
		<url-pattern>/member/MemberServlet.do</url-pattern>
	</servlet-mapping>
	<!-- ===================GroupController================== -->
	<servlet>
		<servlet-name>GroupServlet</servlet-name>
		<servlet-class>com.group.controller.GroupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GroupServlet</servlet-name>
		<url-pattern>/group/group.do</url-pattern>
	</servlet-mapping>
	<!-- ===================GroupMeController================== -->
	<servlet>
		<servlet-name>Group_messageServlet</servlet-name>
		<servlet-class>com.group_message.controller.Group_messageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Group_messageServlet</servlet-name>
		<url-pattern>/group/group_me.do</url-pattern>
	</servlet-mapping>
	<!-- ===================GroupJoinController================== -->
	<servlet>
		<servlet-name>Group_joinServlet</servlet-name>
		<servlet-class>com.group_join.controller.Group_joinServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Group_joinServlet</servlet-name>
		<url-pattern>/group/group_join.do</url-pattern>
	</servlet-mapping>
	<!-- ===================GroupReportController================== -->
	<servlet>
		<servlet-name>Group_reportServlet</servlet-name>
		<servlet-class>com.group_report.controller.Group_reportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Group_reportServlet</servlet-name>
		<url-pattern>/group/group_report.do</url-pattern>
	</servlet-mapping>
	<!-- ===================Group排程器================== -->
	<servlet>
		<servlet-name>Group</servlet-name>
		<servlet-class>com.group.model.Group</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Group</servlet-name>
		<url-pattern>/group/group</url-pattern>
	</servlet-mapping>
	<!-- ===================GroupPhotoShow================== -->
	<servlet>
		<servlet-name>Group_photo_Show</servlet-name>
		<servlet-class>com.group.model.Group_photo_Show</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Group_photo_Show</servlet-name>
		<url-pattern>/Group_photo_Show</url-pattern>
	</servlet-mapping>
	<!-- ===================EquipmentController================== -->
	<servlet>
		<servlet-name>EquipmentServlet</servlet-name>
		<servlet-class>com.equipment.controller.EquipmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EquipmentServlet</servlet-name>
		<url-pattern>/equip/equipment.do</url-pattern>
	</servlet-mapping>
	<!-- ===================Equip_orderController================== -->
	<servlet>
		<servlet-name>Equip_orderServlet</servlet-name>
		<servlet-class>com.equip_order.controller.Equip_orderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Equip_orderServlet</servlet-name>
		<url-pattern>/order/equip_order.do</url-pattern>
	</servlet-mapping>
	<!-- ===================Equip_odlistController================== -->
	<servlet>
		<servlet-name>Equip_odlistServlet</servlet-name>
		<servlet-class>com.equip_odlist.controller.Equip_odlistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Equip_odlistServlet</servlet-name>
		<url-pattern>/odlist/equip_odlist.do</url-pattern>
	</servlet-mapping>
	<!-- ===================TourController================== -->
	<servlet>
		<servlet-name>TourServlet</servlet-name>
		<servlet-class>com.tour.controller.TourServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TourServlet</servlet-name>
		<url-pattern>/tour/tour.do</url-pattern>
	</servlet-mapping>
	<!-- ===================TourOrderController================== -->
	<servlet>
		<servlet-name>TourOrderServlet</servlet-name>
		<servlet-class>com.tour_order.controller.TourOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TourOrderServlet</servlet-name>
		<url-pattern>/tour_order/tourOrder.do</url-pattern>
	</servlet-mapping>
	<!-- ===================TourLikeController================== -->
	<servlet>
		<servlet-name>TourLikeServlet</servlet-name>
		<servlet-class>com.tour_like.controller.TourLikeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TourLikeServlet</servlet-name>
		<url-pattern>/tour_like/tourLike.do</url-pattern>
	</servlet-mapping>
	<!-- ===================TourRoomController================== -->
	<servlet>
		<servlet-name>TourRoomServlet</servlet-name>
		<servlet-class>com.tour_room.controller.TourRoomServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TourRoomServlet</servlet-name>
		<url-pattern>/tour_room/tourRoom.do</url-pattern>
	</servlet-mapping>
	<!-- ===================RoomImageController================== -->
	<servlet>
		<servlet-name>RoomImageServlet</servlet-name>
		<servlet-class>com.room_image.controller.RoomImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoomImageServlet</servlet-name>
		<url-pattern>/room_image/roomImage.do</url-pattern>
	</servlet-mapping>
	<!-- ===================TourImageController================== -->
	<servlet>
		<servlet-name>TourImageServlet</servlet-name>
		<servlet-class>com.tour_image.controller.TourImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TourImageServlet</servlet-name>
		<url-pattern>/tour_image/tourImage.do</url-pattern>
	</servlet-mapping>
	<!-- ===================TourReportController================== -->
	<servlet>
		<servlet-name>TourReportServlet</servlet-name>
		<servlet-class>com.tour_report.controller.TourReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TourReportServlet</servlet-name>
		<url-pattern>/tour_report/tourReport.do</url-pattern>
	</servlet-mapping>
	<!-- ===================AdmController================== -->
	<servlet>
		<servlet-name>AdmServlet</servlet-name>
		<servlet-class>com.adm.controller.AdmServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdmServlet</servlet-name>
		<url-pattern>/AdmServlet/adm.do</url-pattern>
	</servlet-mapping>
	<!-- ===================BackMemController================== -->
	<servlet>
		<servlet-name>BackMemServlet</servlet-name>
		<servlet-class>com.backmem.controller.BackMemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BackMemServlet</servlet-name>
		<url-pattern>/BackMemServlet/mem.do</url-pattern>
	</servlet-mapping>
	<!-- ===================LoginHandlerController================== -->
	<servlet>
		<servlet-name>LoginHandler</servlet-name>
		<servlet-class>com.admlogin.controller.LoginHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginHandler</servlet-name>
		<url-pattern>/admlogin/LoginHandler.do</url-pattern>
	</servlet-mapping>
	<!-- ===================DivesiteController================== -->
	<servlet>
		<servlet-name>DivesiteServlet</servlet-name>
		<servlet-class>com.divesite.controller.DivesiteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DivesiteServlet</servlet-name>
		<url-pattern>/DivesiteServlet/divesite.do</url-pattern>
	</servlet-mapping>
	<!-- ===================DiveController================== -->
	<servlet>
		<servlet-name>diveServlet</servlet-name>
		<servlet-class>com.dive.controller.DiveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>diveServlet</servlet-name>
		<url-pattern>/dive/DiveServlet.do</url-pattern>
	</servlet-mapping>
	<!-- ===================AndroidController================== -->
	<servlet>
		<servlet-name>AndroidMemServlet</servlet-name>
		<servlet-class>android.member.controller.AndroidMemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidMemServlet</servlet-name>
		<url-pattern>/AndroidMemServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AndroidGroupServlet</servlet-name>
		<servlet-class>android.group.controller.AndroidGroupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidGroupServlet</servlet-name>
		<url-pattern>/AndroidGroupServlet</url-pattern>
	</servlet-mapping>
</web-app>