body {
	font-family: 微軟正黑體;
	background: #E5EDF2;
	margin-bottom: 0;
	/* 	background-image : url(https://images.unsplash.com/photo-1563566019199-854467dad6ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80); */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/* 	background-image: url(https://images.unsplash.com/photo-1563566019199-854467dad6ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80); */
	background-size: cover;
	background-repeat: no-repeat;
}

.label {
	margin-bottom: 0px;
}

.fixed-top {
	background-color: #000;
}

.logo_img {
	display: flex;
	margin: auto;
}

form {
	box-sizing: border-box;
	display: block;
	margin-top: 0em;
	text-align: left;
	font-size: 16px;
	line-height: 1.5em;
}

.container {
	height: 1600px;
	margin: 150px auto;
	font-family: 微軟正黑體修正;
	background-image:
		url('C:/DA104G2/Workspace/DA104G2/WebContent/images/formimg.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

hr {
	margin-top: 0px;
}

.text {
	text-align: right;
}

.form-control {
	box-shadow: none;
	border: transparent;
	border-bottom: 1px dashed #929292;
	background-color: transparent;
}

.GROUP_DES {
	width: 100%;
}

.submit {
	text-align: center;
}

.form-group {
	margin-top: 10px;
}

/*     .start-end { */
/*         box-shadow: none; */
/*         border: transparent; */
/*         border-bottom: 1px dashed #929292 !important; */
/*         background-color: transparent; */
/*     } */
.custom-file {
	width: 40%;
	display: flex;
}

#blah {
	width: 150px;
	height: 150px;
}

/* span { */
/* 	float: left; */
/* } */

#imgInp {
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 78px;
	right: 0;
	opacity: 0;
	height: 150px;
	width: 150px
}

.upload {
	text-align: right;
}

.fa-camera {
	font-size: 30px;
}

#groupname {
	margin-top: 50px;
	margin-bottom: 0;
}

.col-8 {
	margin-bottom: 0;
}

.col-4 {
	margin-bottom: 0;
}

/* form { */
/* 	width: 700px; */
/* 	font-size: */
/* } */

#customRange1 {
	margin: 10px;
}

#erro {
	position: absolute;
	left: 880px;
	top: 300px;
}

#cancel { 
	width: 100px;
	float: left;
}
.quit{
	width: 80px;
	height: 30px;
	font-size: 13.3333px;
}