body {
	font-family: "Microsoft JhengHei UI";
	background-color: rgb(231, 229, 229);
}

.label {
	margin-bottom: 0px;
}

.fixed-top {
	background-color: #000;
}

#memname {
	color: #385898;
}

#allmessage {
	/* border: 1px solid #cccccc; */
	width: 100%;
	height: 150px;
	/* background-color: #FFFFFF; */
	/* padding: 5px; */
	overflow: auto;
}

#onemessage {
	background-color: wheat;
	padding: 8px 10px;
	border-radius: 15px
}

.logo_img {
	display: flex;
	margin: auto;
}

.col-md-12 {
	padding: 0;
}

#main-top {
	margin: 0;
	margin-bottom: 0px;
}

.container {
	padding: 0;
	margin: 150px auto;
	font-family: "Microsoft JhengHei UI";
	color: #666;
	background-color: rgb(229, 237, 242);
}

.group_photo {
	width: 365px;
	height: 300px;
}

.col-auto {
	padding-left: 15px;
	padding-top: 15px;
}

#WsBuyBtn2 {
	text-align: center;
	width: 162px;
	height: 38px;
	background-position: left -498px;
	margin: 0;
	background: url(/img/ware/sellInfo/wareInfo.png) no-repeat;
	border: none;
	cursor: pointer;
	outline: medium none;
	width: 114px;
	height: 36px;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	background: linear-gradient(#ff9004 0%, #ff7405 100%);
	position: absolute;
	top: 310px;
	right: 30px;
}

#metime {
	float: right;
	margin-right: 8px;
}

#WsBuyBtn {
	text-align: center;
	width: 162px;
	height: 38px;
	background-position: left -498px;
	margin: 0;
	background: url(/img/ware/sellInfo/wareInfo.png) no-repeat;
	border: none;
	cursor: pointer;
	outline: medium none;
	width: 114px;
	height: 36px;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	background: linear-gradient(#ff9004 0%, #ff7405 100%);
}

#disabled {
	text-align: center;
	width: 162px;
	height: 38px;
	background-position: left -498px;
	margin: 0;
	background: url(/img/ware/sellInfo/wareInfo.png) no-repeat;
	border: none;
	cursor: pointer;
	outline: medium none;
	right: 30px;
	top: 260px;
	width: 114px;
	height: 36px;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	background: linear-gradient(#9ca6a0 0%, #9ca6a0 100%);
}

.Wtitile {
	display: block;
	margin-top: -5px;
	padding: 0 0 3px 0;
	color: #666;
	font-size: 15px;
	font-weight: bold;
	line-height: 22px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: normal;
	overflow: hidden;
	font-size: 22px;
}

.participant {
	border-radius: 50%;
	/* box-shadow: 0 0 0 5px #F9E9BC; */
	width: 30px;
	height: 30px;
}

.group_des {
	padding-top: 18px;
	font-size: 15px;
	/* 	border: 1px solid #eb551e; */
	line-height: 24px;
}

.group_des div {
	/* 	margin-top: 50px;  */
	/* 	margin-left: 80px; */
	margin-right: 100px;
	padding: 6px;
	word-break: break-word;
	font-size: 18px;
}

.group_bar {
	height: 45px;
	position: relative;
}

#des {
	margin-left: 20px;
}

.mallListTab {
	width: 130px;
	height: 44px;
	color: #eb551e;
	/* 	font-size: 15px; */
	font-weight: 700;
	/* 	border-bottom: 1px solid #fff; */
	line-height: 38px;
	text-align: center;
	cursor: pointer;
}

.editer_main {
	height: 40px;
	margin-top: 20px;
	padding-left: 16px;
	font-weight: bold;
	font-size: 15px;
	line-height: 40px;
}

.group_message {
	margin-top: 50px;
}

.add_message_top {
	text-align: center;
	margin: 0 auto;
}

.add_message_title {
	font-family: tahoma, arial, "\5b8b\4f53";
}

.reply_sent {
	width: 90px;
	height: 36px;
	color: #fff;
	border: 1px solid #f17300;
	background: -webkit-linear-gradient(to bottom, #fe9b00, #ff7a01);
	background: linear-gradient(to bottom, #fe9b00, #ff7a01);
	background: #ff7a01;
	cursor: pointer;
}

.col-xs-7 {
	position: absolute;
	right: 20px;
	top: 300px;
}

.context {
	margin-top: 5px;
	font-size: 18px;
}

.question {
	color: #333;
	font-size: 18px;
}

.message-content {
	margin-top: 5px;
	margin-left: 25px;
}
/* 時間倒數 */
#clock {
	margin: 0;
	width: 250px;
	position: absolute;
	top: 0;
	right: 0;
	color: white;
	font: 2em sans-serif;
	background: black;
	border: solid gray 2px;
	border-radius: 10px;
	width: 140px;
	text-align: center;
}

#check {
	color: #fff;
	text-align: center;
	top: 15%;
	right: 3%;
	margin: auto;
	position: fixed;
}

font.and {
	width: 50px;
}

.and {
	float: left;
}

#tab {
	width: 200px;
	background-color: #FFBB73;
}

.title {
	background-color: #FFBB73;
}

.btn-secondary {
	color: black;
	background-color: #FFBB73;
	border-color: #FFBB73;
}

#maxnum {
	border: 0;
	background-color: rgb(229, 237, 242);
	width: 25px;
}

#maxnum:focus {
	outline: none;
}

.re_div {
	text-align: center;
	display: table;
	height: 48px;
}

.re_span {
	display: table-cell;
	vertical-align: middle;
}

.col-9 {
	padding: 0;
}

#change {
	text-align: center;
	width: 162px;
	height: 38px;
	margin: 0;
	border: none;
	cursor: pointer;
	outline: medium none;
	right: 30px;
	top: 260px;
	width: 114px;
	height: 36px;
	padding: 0;
	position: absolute;
}

.row.mb-2 {
	margin: 0;
}