html {
  position: relative;
  min-height: 100%;
  font-family: Nunito
}

body {
  height: 100%
}

a:focus {
  outline: 0
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

#wrapper #content-wrapper {
  background-color: #fafdfb;
  width: 100%;
  overflow-x: hidden
}

@media (max-width:768px) {
  #wrapper #content-wrapper {
    z-index: 2!important
  }
}

#wrapper #content-wrapper #content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto
}

.container,
.container-fluid,
.container-login {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

@media (min-width:768px) {
  .container-login {
    margin-left: 25rem;
    margin-right: 25rem
  }
}

.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: #fff;
  background: rgba(90, 92, 105, .5);
  line-height: 46px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out
}

.scroll-to-top:focus,
.scroll-to-top:hover {
  color: #fff;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out
}

.scroll-to-top:hover {
  background: #5a5c69;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out
}

.scroll-to-top i {
  font-weight: 800
}

@-webkit-keyframes growIn {
  0% {
    -webkit-transform: scale(.9);
    transform: scale(.9);
    opacity: 0
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}

@keyframes growIn {
  0% {
    -webkit-transform: scale(.9);
    transform: scale(.9);
    opacity: 0
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}

.animated--grow-in,
.sidebar .nav-item .collapse {
  -webkit-animation-name: growIn;
  animation-name: growIn;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-timing-function: transform cubic-bezier(.18, 1.25, .4, 1), opacity cubic-bezier(0, 1, .4, 1);
  animation-timing-function: transform cubic-bezier(.18, 1.25, .4, 1), opacity cubic-bezier(0, 1, .4, 1)
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.bg-gray-100 {
  background-color: #f8f9fc!important
}

.bg-gray-200 {
  background-color: #eaecf4!important
}

.bg-gray-300 {
  background-color: #dddfeb!important
}

.bg-gray-400 {
  background-color: #d1d3e2!important
}

.bg-gray-500 {
  background-color: #b7b9cc!important
}

.bg-gray-600 {
  background-color: #858796!important
}

.bg-gray-700 {
  background-color: #6e707e!important
}

.bg-gray-800 {
  background-color: #5a5c69!important
}

.bg-gray-900 {
  background-color: #3a3b45!important
}

.text-lg {
  font-size: 1.2rem
}

.text-gray-100 {
  color: #f8f9fc!important
}

.text-gray-200 {
  color: #eaecf4!important
}

.text-gray-300 {
  color: #dddfeb!important
}

.text-gray-400 {
  color: #d1d3e2!important
}

.text-gray-500 {
  color: #b7b9cc!important
}

.text-gray-600 {
  color: #858796!important
}

.text-gray-700 {
  color: #6e707e!important
}

.text-gray-800 {
  color: #5a5c69!important
}

.text-gray-900 {
  color: #3a3b45!important
}

.icon-circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.dropdown .dropdown-menu {
  font-size: .85rem;
  -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important
}

.dropdown .dropdown-menu .dropdown-header {
  font-weight: 800;
  font-size: .65rem;
  color: #b7b9cc
}

.dropdown.no-arrow .dropdown-toggle::after {
  display: none
}

.sidebar .nav-item.dropdown .dropdown-toggle::after,
.topbar .nav-item.dropdown .dropdown-toggle::after {
  width: 1rem;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content: '\f105';
  font-family: 'Font Awesome 5 Free'
}

.sidebar .nav-item .nav-link,
.topbar .nav-item .nav-link {
  position: relative
}

.sidebar .nav-item .nav-link .badge-counter,
.topbar .nav-item .nav-link .badge-counter {
  position: absolute;
  -webkit-transform: scale(.7);
  transform: scale(.7);
  -webkit-transform-origin: top right;
  transform-origin: top right;
  right: .25rem;
  margin-top: -.25rem
}

.sidebar .nav-item .nav-link .img-profile,
.topbar .nav-item .nav-link .img-profile {
  height: 2rem;
  width: 2rem;
  border: 1px solid #fafafa
}

.topbar {
  height: 4.375rem;
  z-index: 2;
  -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important
}

.topbar #sidebarToggleTop {
  height: 2.5rem;
  width: 2.5rem;
  -webkit-box-shadow: 0 0!important;
  box-shadow: 0 0!important
}

.topbar #sidebarToggleTop:hover {
  background-color: #fafafa
}

.topbar #sidebarToggleTop:active {
  background-color: #dddfeb
}

.topbar .topbar-divider {
  width: 0;
  border-right: 1px solid #e3e6f0;
  height: calc(4.375rem - 2rem);
  margin: auto 1rem
}

.topbar .nav-item .nav-link {
  height: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 .75rem
}

.topbar .nav-item .nav-link:focus {
  outline: 0
}

.topbar .nav-item:focus {
  outline: 0
}

.topbar .dropdown {
  position: static
}

.topbar .dropdown .dropdown-menu {
  width: calc(100% - 1.5rem);
  right: .75rem
}

.topbar .dropdown-list {
  padding: 0;
  border: none;
  overflow: hidden
}

.topbar .dropdown-list .dropdown-header {
  background-color: #4255c4;
  border: 1px solid #3f51b5;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #fff
}

.topbar .dropdown-list .dropdown-item {
  white-space: normal;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-left: 1px solid #e3e6f0;
  border-right: 1px solid #e3e6f0;
  border-bottom: 1px solid #e3e6f0;
  line-height: 1.3rem
}

.topbar .dropdown-list .dropdown-item .dropdown-list-image {
  position: relative;
  height: 2.5rem;
  width: 2.5rem
}

.topbar .dropdown-list .dropdown-item .dropdown-list-image img {
  height: 2.5rem;
  width: 2.5rem
}

.topbar .dropdown-list .dropdown-item .dropdown-list-image .status-indicator {
  background-color: #eaecf4;
  height: .75rem;
  width: .75rem;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  border: .125rem solid #fff
}

.topbar .dropdown-list .dropdown-item .text-truncate {
  max-width: 10rem
}

.topbar .dropdown-list .dropdown-item:active {
  background-color: #eaecf4;
  color: #3a3b45
}

@media (min-width:576px) {
  .topbar .dropdown {
    position: relative
  }
  .topbar .dropdown .dropdown-menu {
    width: auto;
    right: 0
  }
  .topbar .dropdown-list {
    width: 20rem!important
  }
  .topbar .dropdown-list .dropdown-item .text-truncate {
    max-width: 13.375rem
  }
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: #fafafa;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #e0e0e0;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:active {
  color: #858796
}

.bg-navbar {
  background-color: #dc8e8e;
}

.sidebar {
  min-height: 100vh;
  width: 14rem!important;
  background-color: #fff!important;
  -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important;
  z-index: 0
}

.sidebar .nav-item {
  position: relative;
  margin-bottom: -15px
}

.sidebar .nav-item:last-child {
  margin-bottom: 1rem
}

.sidebar .nav-item .nav-link {
  display: block;
  width: 100%;
  text-align: left;
  padding: 1rem;
  width: 14rem
}

.sidebar .nav-item .nav-link i {
  font-size: .85rem;
  margin-right: .25rem
}

.sidebar .nav-item .nav-link span {
  font-family: "Microsoft JhengHei UI";
  font-size: 22px;
  display: inline
}

.sidebar .nav-item .nav-link[data-toggle=collapse]::after {
  width: 1rem;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content: '\f107';
  font-family: 'Font Awesome 5 Free'
}

.sidebar .nav-item .nav-link[data-toggle=collapse].collapsed::after {
  content: '\f105'
}

.sidebar .nav-item .collapse {
  position: relative;
  left: 0;
  z-index: 1;
  top: 0;
  -webkit-animation: none;
  animation: none
}

.sidebar .nav-item .collapse .collapse-inner {
  border-radius: .35rem;
  -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
  box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out
}

.sidebar .nav-item .collapse {
  margin: 0 1rem
}

.sidebar .nav-item .collapse .collapse-inner {
  padding: .5rem 0;
  min-width: 10rem;
  font-size: .85rem;
  margin: 0 0 1rem 0
}

.sidebar .nav-item .collapse .collapse-inner .collapse-header {
  margin: 0;
  white-space: nowrap;
  padding: .5rem 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
  font-size: .65rem;
  color: #b7b9cc
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item {
  padding: .5rem 1rem;
  margin: 0 .5rem;
  display: block;
  color: #3a3b45;
  text-decoration: none;
  border-radius: .35rem;
  white-space: nowrap
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover {
  background-color: #eaecf4;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:active {
  background-color: #dddfeb
}

.sidebar .sidebar-brand {
  height: 4.375rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  padding: 1.5rem 1rem;
  text-align: center;
  letter-spacing: .05rem;
  z-index: 1
}

.sidebar .sidebar-brand .sidebar-brand-icon img {
  max-height: 2.3rem
}

.sidebar hr.sidebar-divider {
  margin: 1rem 0 1rem 0
}

.sidebar .sidebar-brand .sidebar-brand-text {
  display: inline
}

@media (max-width:768px) {
  #container-wrapper {
    min-width: 100vw
  }
  .sidebar {
    width: 0!important;
    overflow: hidden;
    transition: all .3s ease;
    -webkit-transition: all .3s ease
  }
  .sidebar .sidebar-brand {
    overflow: hidden
  }
  .sidebar .sidebar-brand .sidebar-brand-text {
    overflow: hidden
  }
  .sidebar .nav-item {
    overflow: hidden
  }
  .sidebar .sidebar-brand .sidebar-brand-icon img {
    overflow: hidden
  }
  .sidebar hr.sidebar-divider {
    margin: 1rem 0 1rem 0
  }
}

.sidebar-light .sidebar-brand {
  color: #fafafa;
  background-color: #4c60da
}

.sidebar-light hr.sidebar-divider {
  border-top: 1px solid #eaecf4
}

.sidebar-light .nav-item .nav-link {
  color: #858796
}

.sidebar-light .nav-item .nav-link i {
  color: #9e9e9e
}

.sidebar-light .nav-item .nav-link:active,
.sidebar-light .nav-item .nav-link:focus,
.sidebar-light .nav-item .nav-link:hover {
  color: #6e707e;
  background-color: #eee
}

.sidebar-light .nav-item .nav-link:active i,
.sidebar-light .nav-item .nav-link:focus i,
.sidebar-light .nav-item .nav-link:hover i {
  color: #6e707e
}

.sidebar-light .nav-item .nav-link[data-toggle=collapse]::after {
  color: #b7b9cc
}

.bg-login-image {
  background-position: center;
  background-size: cover
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(31px, 9999px, 91px, 0)
  }
  5% {
    clip: rect(70px, 9999px, 29px, 0)
  }
  10% {
    clip: rect(3px, 9999px, 56px, 0)
  }
  15% {
    clip: rect(7px, 9999px, 78px, 0)
  }
  20% {
    clip: rect(97px, 9999px, 4px, 0)
  }
  25% {
    clip: rect(24px, 9999px, 60px, 0)
  }
  30% {
    clip: rect(80px, 9999px, 41px, 0)
  }
  35% {
    clip: rect(78px, 9999px, 14px, 0)
  }
  40% {
    clip: rect(20px, 9999px, 23px, 0)
  }
  45% {
    clip: rect(70px, 9999px, 61px, 0)
  }
  50% {
    clip: rect(65px, 9999px, 89px, 0)
  }
  55% {
    clip: rect(74px, 9999px, 25px, 0)
  }
  60% {
    clip: rect(76px, 9999px, 84px, 0)
  }
  65% {
    clip: rect(56px, 9999px, 10px, 0)
  }
  70% {
    clip: rect(85px, 9999px, 58px, 0)
  }
  75% {
    clip: rect(46px, 9999px, 71px, 0)
  }
  80% {
    clip: rect(6px, 9999px, 64px, 0)
  }
  85% {
    clip: rect(20px, 9999px, 84px, 0)
  }
  90% {
    clip: rect(57px, 9999px, 26px, 0)
  }
  95% {
    clip: rect(36px, 9999px, 92px, 0)
  }
  100% {
    clip: rect(12px, 9999px, 53px, 0)
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(31px, 9999px, 91px, 0)
  }
  5% {
    clip: rect(70px, 9999px, 29px, 0)
  }
  10% {
    clip: rect(3px, 9999px, 56px, 0)
  }
  15% {
    clip: rect(7px, 9999px, 78px, 0)
  }
  20% {
    clip: rect(97px, 9999px, 4px, 0)
  }
  25% {
    clip: rect(24px, 9999px, 60px, 0)
  }
  30% {
    clip: rect(80px, 9999px, 41px, 0)
  }
  35% {
    clip: rect(78px, 9999px, 14px, 0)
  }
  40% {
    clip: rect(20px, 9999px, 23px, 0)
  }
  45% {
    clip: rect(70px, 9999px, 61px, 0)
  }
  50% {
    clip: rect(65px, 9999px, 89px, 0)
  }
  55% {
    clip: rect(74px, 9999px, 25px, 0)
  }
  60% {
    clip: rect(76px, 9999px, 84px, 0)
  }
  65% {
    clip: rect(56px, 9999px, 10px, 0)
  }
  70% {
    clip: rect(85px, 9999px, 58px, 0)
  }
  75% {
    clip: rect(46px, 9999px, 71px, 0)
  }
  80% {
    clip: rect(6px, 9999px, 64px, 0)
  }
  85% {
    clip: rect(20px, 9999px, 84px, 0)
  }
  90% {
    clip: rect(57px, 9999px, 26px, 0)
  }
  95% {
    clip: rect(36px, 9999px, 92px, 0)
  }
  100% {
    clip: rect(12px, 9999px, 53px, 0)
  }
}

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(68px, 9999px, 1px, 0)
  }
  5% {
    clip: rect(44px, 9999px, 53px, 0)
  }
  10% {
    clip: rect(72px, 9999px, 43px, 0)
  }
  15% {
    clip: rect(18px, 9999px, 16px, 0)
  }
  20% {
    clip: rect(6px, 9999px, 72px, 0)
  }
  25% {
    clip: rect(18px, 9999px, 16px, 0)
  }
  30% {
    clip: rect(93px, 9999px, 46px, 0)
  }
  35% {
    clip: rect(100px, 9999px, 33px, 0)
  }
  40% {
    clip: rect(27px, 9999px, 29px, 0)
  }
  45% {
    clip: rect(5px, 9999px, 64px, 0)
  }
  50% {
    clip: rect(40px, 9999px, 65px, 0)
  }
  55% {
    clip: rect(72px, 9999px, 49px, 0)
  }
  60% {
    clip: rect(44px, 9999px, 39px, 0)
  }
  65% {
    clip: rect(84px, 9999px, 45px, 0)
  }
  70% {
    clip: rect(99px, 9999px, 56px, 0)
  }
  75% {
    clip: rect(87px, 9999px, 20px, 0)
  }
  80% {
    clip: rect(52px, 9999px, 8px, 0)
  }
  85% {
    clip: rect(64px, 9999px, 22px, 0)
  }
  90% {
    clip: rect(51px, 9999px, 69px, 0)
  }
  95% {
    clip: rect(2px, 9999px, 11px, 0)
  }
  100% {
    clip: rect(19px, 9999px, 40px, 0)
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(68px, 9999px, 1px, 0)
  }
  5% {
    clip: rect(44px, 9999px, 53px, 0)
  }
  10% {
    clip: rect(72px, 9999px, 43px, 0)
  }
  15% {
    clip: rect(18px, 9999px, 16px, 0)
  }
  20% {
    clip: rect(6px, 9999px, 72px, 0)
  }
  25% {
    clip: rect(18px, 9999px, 16px, 0)
  }
  30% {
    clip: rect(93px, 9999px, 46px, 0)
  }
  35% {
    clip: rect(100px, 9999px, 33px, 0)
  }
  40% {
    clip: rect(27px, 9999px, 29px, 0)
  }
  45% {
    clip: rect(5px, 9999px, 64px, 0)
  }
  50% {
    clip: rect(40px, 9999px, 65px, 0)
  }
  55% {
    clip: rect(72px, 9999px, 49px, 0)
  }
  60% {
    clip: rect(44px, 9999px, 39px, 0)
  }
  65% {
    clip: rect(84px, 9999px, 45px, 0)
  }
  70% {
    clip: rect(99px, 9999px, 56px, 0)
  }
  75% {
    clip: rect(87px, 9999px, 20px, 0)
  }
  80% {
    clip: rect(52px, 9999px, 8px, 0)
  }
  85% {
    clip: rect(64px, 9999px, 22px, 0)
  }
  90% {
    clip: rect(51px, 9999px, 69px, 0)
  }
  95% {
    clip: rect(2px, 9999px, 11px, 0)
  }
  100% {
    clip: rect(19px, 9999px, 40px, 0)
  }
}

.customer-message {
  border-bottom: 1px solid #e3e6f0;
  padding-bottom: 10px;
  padding-top: 10px
}

.customer-message:hover {
  background-color: #f8f9fc
}

.customer-message a .message-title {
  padding-right: 1.3rem;
  padding-left: 1.3rem
}

.customer-message a:hover {
  text-decoration: none
}

.sd_name{
  font-family: "Microsoft JhengHei UI";
  font-size: 18px;
}

