/* html,body {
    height: 100%;
  } */

#above{
    /* background: rgb(7,1,124); */
    background-image: linear-gradient(to top, #416eb0, #3f85c6, #3d9cdb, #3eb3ee, #44cbff);
    width: 100%;
    height: auto;
}

.searchTopic {
    font-size: 55px;
    color: white;
    font-family: "Microsoft JhengHei UI";
    font-weight: bold;
    margin-top: 16px;
}

.block{
    background-color: rgb(252, 238, 223);
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#des_search{
	width: 100%;
	height: 55px;
	background-image: url('../svg/location-point.svg');
	background-repeat: no-repeat;
	background-size: 25px;
	padding-left: 40px;
    background-position: 6px center;
    margin-bottom: 15px;
}

#date_pick{
	width: 100%;
	height: 55px;
	padding-left: 40px;
	background-image: url('../svg/calendar.svg');
	background-repeat: no-repeat;
	background-size: 25px;
    background-position: 6px center;
    margin-bottom: 15px;
}

.btn_submit{
	width: 100%;
	height: 50px;
	font-size: 23px;
	font-family: "Microsoft JhengHei UI";
	color: rgb(255, 255, 255);
	background-color: rgb(241, 94, 68);
    letter-spacing: 0.02em;
    margin-bottom: 10px;
}

.btn_submit:hover{
	background-color: rgb(236, 140, 122);
	color: rgb(255, 255, 255);
}

.blockSearch{
    font-size: 25px;
    font-family: "Microsoft JhengHei UI";
    margin-left: 15px;
    margin-bottom: 20px;
}

.listBlock{
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: rgba(125, 179, 240, 0.233);
    margin-top: 20px;
    margin-bottom: 20px;
}

.listBlockImg{
    max-width: 100%;
    height: 260px;
    border-radius: 10px 0px 0px 10px;
}

.nameOfTrip{
    font-size: 28px;
    font-family: "Microsoft JhengHei UI";
    font-weight: bold;
}

.tripDetail{
    width: 100%;
    font-size: 16px;
    font-family: "Microsoft JhengHei UI";
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.tripDate{
    font-size: 15px;
    font-family: "Microsoft JhengHei UI";
    margin-top: 10px;
}

.tripPrice{
    font-size: 25px;
    font-family: "Microsoft JhengHei UI";
}

.btn_book{
	width: 120px;
	height: 40px;
	font-size: 20px;
	font-family: "Microsoft JhengHei UI";
	color: rgb(255, 255, 255);
	background-color: rgb(241, 94, 68);
    letter-spacing: 0.02em;
    margin-left: 15px;
    margin-bottom: 10px;
}

.btn_book_full{
	width: 120px;
	height: 40px;
	font-size: 20px;
	font-family: "Microsoft JhengHei UI";
	color: rgb(255, 255, 255);
	background-color: rgb(185, 180, 179);
    letter-spacing: 0.02em;
    margin-left: 15px;
    margin-bottom: 10px;
}

/* 20200107¼W */
.search_revScore{
	font-size: 15px;
}

.traInsideStar{
	height: 20px;
	width: 20px;
	margin-right: 2px;
	margin-bottom: 6px;
}
